<?xml version="1.0" ?>
<model> 
  <name>ACS6121 Real Robot Assignment Task Arena Model</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Internal link model for the ACS6121 Real Robot Assignment Task test arena.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>