<?xml version="1.0" ?>
<model> 
  <name>Navigation Arena for SLAM exercises</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Model for the navigation exercises in Part 3 of the ROS course.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>