<?xml version="1.0" ?>
<model> 
  <name>COM2009 Obstacle Avoidance Arena Model</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Internal link model for COM2009 Task 2 obstacle avoidance test arena (for Assignment 2).
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>