<?xml version="1.0" ?>
<model>
    <name>cr5_arena_walls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Tom Howard</name>
        <email>t.howard@sheffield.ac.uk</email>
    </author>
    <description>Arena walls representative (in size) of the DIA-CR5 4x4m Robot Arena.</description>
</model>
